# 1.find the 20 most popular movies with a rank more than 8.0

In [4]:
import pandas as pd
import numpy as np

In [5]:
ratings = pd.read_csv("E:/DownloadedData/Ratings.tsv", delimiter = '\t')

In [6]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1710
1  tt0000002            6.1       210
2  tt0000003            6.5      1469
3  tt0000004            6.1       123
4  tt0000005            6.2      2271

In [12]:
basics = pd.read_csv("E:/DownloadedData/Basics.tsv", delimiter = '\t')

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [11]:
basics.head()

NameError: name 'basics_movie' is not defined

In [8]:
topRatedMovies = ratings[ratings['averageRating'] > 8.0]
topRatedMovies

            tconst  averageRating  numVotes
275      tt0000361            8.1        10
300      tt0000417            8.2     45306
400      tt0000618            8.3         7
611      tt0000961            8.2        13
691      tt0001089            8.3        19
...            ...            ...       ...
1163121  tt9916348            8.7        14
1163123  tt9916380            9.0       104
1163126  tt9916460            9.3        15
1163128  tt9916538            8.3         6
1163133  tt9916628            8.6         5

[229863 rows x 3 columns]

In [9]:
SortedTopMovies20 = topRatedMovies.sort_values('numVotes', ascending = False).head(20)
SortedTopMovies20

           tconst  averageRating  numVotes
82045   tt0111161            9.3   2406015
248066  tt0468569            9.0   2365595
605959  tt1375666            8.8   2123065
98446   tt0137523            8.8   1899338
81828   tt0110912            8.9   1869157
80954   tt0109830            8.8   1859190
427803  tt0944947            9.3   1823033
96319   tt0133093            8.7   1716729
89828   tt0120737            8.8   1698697
113421  tt0167260            8.9   1677816
45857   tt0068646            9.2   1665264
391386  tt0816692            8.6   1567953
595152  tt1345836            8.4   1550231
417866  tt0903747            9.4   1525895
113422  tt0167261            8.7   1517042
84597   tt0114369            8.6   1482801
704545  tt1853728            8.4   1394707
115867  tt0172495            8.5   1371770
207935  tt0372784            8.2   1336510
75239   tt0102926            8.6   1303289

In [10]:
ratingMergedBasics = pd.merge(SortedTopMovies20, basics, on= 'tconst')
ratingMergedBasics

NameError: name 'basics_movie' is not defined

In [9]:
onlyMovies = ratingMergedBasics.loc[ratingMergedBasics['titleType'] == 'movie']

In [10]:
top20Movies = onlyMovies[['originalTitle','averageRating' ]].head(20)
top20Movies

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
1                                     The Dark Knight            9.0
2                                           Inception            8.8
3                                          Fight Club            8.8
4                                        Pulp Fiction            8.9
5                                        Forrest Gump            8.8
7                                          The Matrix            8.7
8   The Lord of the Rings: The Fellowship of the Ring            8.8
9       The Lord of the Rings: The Return of the King            8.9
10                                      The Godfather            9.2
11                                       Interstellar            8.6
12                              The Dark Knight Rises            8.4
14              The Lord of the Rings: The Two Towers            8.7
15                                              Se7en            8.6
16                                   Django Unchained            8.4
17                                          Gladiator            8.5
18                                      Batman Begins            8.2
19                           The Silence of the Lambs            8.6

In [11]:
top20MoviesSorted =top20Movies.sort_values('averageRating', ascending = False)
top20MoviesSorted

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
10                                      The Godfather            9.2
1                                     The Dark Knight            9.0
4                                        Pulp Fiction            8.9
9       The Lord of the Rings: The Return of the King            8.9
2                                           Inception            8.8
3                                          Fight Club            8.8
5                                        Forrest Gump            8.8
8   The Lord of the Rings: The Fellowship of the Ring            8.8
7                                          The Matrix            8.7
14              The Lord of the Rings: The Two Towers            8.7
11                                       Interstellar            8.6
15                                              Se7en            8.6
19                           The Silence of the Lambs            8.6
17                                          Gladiator            8.5
12                              The Dark Knight Rises            8.4
16                                   Django Unchained            8.4
18                                      Batman Begins            8.2

In [12]:
top20MoviesSorted.to_csv('D:/DataScience/DADV/DADV new/Assignment-1/top20Movies.csv' )

# 2.	find the 20 best rated movies with over 40,000 votes in the 2000s (year >= 2000)

In [13]:
basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [14]:
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

In [15]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [16]:
basicsAfter2000 = basics[basics.startYear >= 2000]
basicsAfter2000

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11060,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama
11637,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,\N,\N,"Action,Crime"
15181,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16659,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
18034,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short"
...,...,...,...,...,...,...,...,...,...
7936896,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010.0,\N,\N,"Action,Drama,Family"
7936897,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,\N,\N,"Action,Drama,Family"
7936898,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,\N,\N,"Action,Drama,Family"
7936899,tt9916856,short,The Wind,The Wind,0,2015.0,\N,27,Short
7936900,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,\N,10,"Animation,Comedy,Family"

In [17]:
basicsafter2000MergedRatings = pd.merge(basicsAfter2000, ratings, on= 'tconst')
basicsafter2000MergedRatings

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama,6.9,21
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
2,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
3,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short",6.6,31
4,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,Action,6.3,52
...,...,...,...,...,...,...,...,...,...,...,...
781513,tt9916682,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0,2012.0,\N,10,"Animation,Comedy,Family",5.6,5
781514,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012.0,\N,10,"Animation,Comedy,Family",6.6,5
781515,tt9916720,short,The Nun 2,The Nun 2,0,2019.0,\N,10,"Comedy,Horror,Mystery",6.5,82
781516,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,\N,43,"Family,Reality-TV",6.9,17
781517,tt9916778,tvEpisode,Escape,Escape,0,2019.0,\N,\N,"Drama,Mystery,Romance",7.5,27

In [18]:
basicsMin40000votes = basicsafter2000MergedRatings[basicsafter2000MergedRatings['numVotes'] > 40000]
basicsMin40000votes

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
5,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,79860
58,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,130099
90,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,179490
91,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,314634
93,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,82684
...,...,...,...,...,...,...,...,...,...,...,...
777894,tt9784798,movie,Judas and the Black Messiah,Judas and the Black Messiah,0,2021.0,\N,126,"Biography,Drama,History",7.5,48138
778686,tt9815454,tvMiniSeries,Unorthodox,Unorthodox,0,2020.0,2020,213,Drama,8.0,62432
780057,tt9866072,movie,Holidate,Holidate,0,2020.0,\N,104,"Comedy,Romance",6.1,49061
780764,tt9893250,movie,I Care a Lot,I Care a Lot,0,2020.0,\N,118,"Comedy,Crime,Thriller",6.3,98047
781163,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60885

In [19]:
basicsMin40000votesSorted = basicsMin40000votes.sort_values('averageRating', ascending = False)
basicsMin40000votesSorted

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
413255,tt2301451,tvEpisode,Ozymandias,Ozymandias,0,2013.0,\N,48,"Crime,Drama,Thriller",10.0,137304
781163,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60885
280482,tt13857684,tvEpisode,Assault,Assault,0,2021.0,\N,24,"Action,Adventure,Animation",9.9,53389
536409,tt4283094,tvEpisode,The Winds of Winter,The Winds of Winter,0,2016.0,\N,68,"Action,Adventure,Drama",9.9,135770
413257,tt2301455,tvEpisode,Felina,Felina,0,2013.0,\N,55,"Crime,Drama,Thriller",9.9,93553
...,...,...,...,...,...,...,...,...,...,...,...
695139,tt7431594,movie,Race 3,Race 3,0,2018.0,\N,160,"Action,Crime,Thriller",1.9,41077
174379,tt10888594,movie,Radhe,Radhe,0,2021.0,\N,135,"Action,Crime,Thriller",1.8,154044
338061,tt1702443,movie,Justin Bieber: Never Say Never,Justin Bieber: Never Say Never,0,2011.0,\N,105,"Documentary,Music",1.6,75118
627184,tt5988370,movie,Reis,Reis,0,2017.0,\N,108,"Biography,Drama",1.4,72672
713412,tt7886848,movie,Sadak 2,Sadak 2,0,2020.0,\N,133,"Action,Drama",1.1,67422

In [20]:
filterMovies = basicsMin40000votesSorted.loc[basicsMin40000votesSorted['titleType'] == 'movie']
filterMovies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
438681,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,44252
145007,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,9.1,79405
54935,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2357434
470,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1673344
277602,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2115387
...,...,...,...,...,...,...,...,...,...,...,...
695139,tt7431594,movie,Race 3,Race 3,0,2018.0,\N,160,"Action,Crime,Thriller",1.9,41077
174379,tt10888594,movie,Radhe,Radhe,0,2021.0,\N,135,"Action,Crime,Thriller",1.8,154044
338061,tt1702443,movie,Justin Bieber: Never Say Never,Justin Bieber: Never Say Never,0,2011.0,\N,105,"Documentary,Music",1.6,75118
627184,tt5988370,movie,Reis,Reis,0,2017.0,\N,108,"Biography,Drama",1.4,72672
713412,tt7886848,movie,Sadak 2,Sadak 2,0,2020.0,\N,133,"Action,Drama",1.1,67422

In [21]:
top20Movies = filterMovies[['originalTitle','numVotes', 'startYear','averageRating' ]].head(20)
top20Movies

,originalTitle,numVotes,startYear,averageRating
438681,CM101MMXI Fundamentals,44252,2013.0,9.2
145007,Soorarai Pottru,79405,2020.0,9.1
54935,The Dark Knight,2357434,2008.0,9.0
470,The Lord of the Rings: The Return of the King,1673344,2003.0,8.9
277602,Inception,2115387,2010.0,8.8
97,The Lord of the Rings: The Fellowship of the Ring,1694093,2001.0,8.8
617479,Dag II,106026,2016.0,8.8
471,The Lord of the Rings: The Two Towers,1513208,2002.0,8.7
105634,Interstellar,1560023,2014.0,8.6
3719,Sen to Chihiro no kamikakushi,671196,2001.0,8.6
665182,Gisaengchung,609901,2019.0,8.6
16568,Cidade de Deus,709556,2002.0,8.6
4611,The Pianist,749202,2002.0,8.5
37174,The Departed,1213591,2006.0,8.5
530,Gladiator,1366935,2000.0,8.5
59405,The Prestige,1216338,2006.0,8.5
334220,Intouchables,778830,2011.0,8.5
736543,Hamilton,64650,2020.0,8.5
438151,Whiplash,739323,2014.0,8.5
291375,Senna,65293,2010.0,8.5

In [22]:
top20Movies.to_csv('E:/Spec/Data-Science/DADV/DADV new/Assignment-1/MovieWithMostVotes.csv')